faiss-cpu==1.11.0
fastapi==0.115.12
groq==0.26.0
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.32.3
langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.61
langchain-groq==0.3.2
langchain-huggingface==0.2.0
langchain-ollama==0.3.3
langchain-openai==0.3.18
langchain-text-splitters==0.3.8
langserve==0.3.1
langsmith==0.3.42
ollama==0.5.0
openai==1.82.0
pydantic==2.11.5
pydantic-settings==2.9.1
pydantic_core==2.33.2
PyMuPDF==1.26.0
pypdf==5.5.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-multipart==0.0.20
PyYAML==6.0.2
pyzmq==26.4.0
rdflib==6.3.2
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
sentence-transformers==4.1.0
SQLAlchemy==2.0.41
stack-data==0.6.3
starlette==0.46.2
uvicorn==0.34.2


# cassio
# configobj
# configparser
# faiss-cpu
# fastapi
# httplib2
# ipykernel
# langchain-community
# langchain-groq
# langchain-huggingface
# langchain-ollama
# langchain-openai
# langserve
# nipype
# pandas
# pip
# PyMuPDF
# pypdf
# python-multipart
# pyxnat
# uvicorn
